In [1]:
import boto
import boto3
import pandas as pd
import io

In [2]:
AccessKey =
SecretKey =
bucket_name = 'pattern-test-data'

conn = boto3.client(
    's3',
    aws_access_key_id=AccessKey,
    aws_secret_access_key=SecretKey
)

In [4]:
for key in conn.list_objects(Bucket=bucket_name)['Contents']:
    print(key['Key'])

LGW/
LGW/FaultCode_DowntimeMapping.xlsx
LGW/LGW_Down_Turbine_Tracker.xlsx
LGW/Lightning.csv
LGW/Logans Gap Component Configuration.xlsx
LGW/MetTower_LGW_2016.csv
LGW/MetTower_LGW_2017.csv
LGW/MetTower_LGW_2018.csv
LGW/PFs_Pattern_March22_TQP.pdf
LGW/PartsConsumption.csv
LGW/Pattern Data Requirements.xlsx
LGW/PowerCurveData.csv
LGW/PowerCurves.csv
LGW/Siemens Database Tag List.xlsx
LGW/Siemens Error Code Stop and Reset Details.xlsx
LGW/Siemens Info File_V30_VS_140708_R1 00.xls
LGW/Siemens_Fault_Code_Descriptions.xlsx
LGW/TurbineModels.csv
LGW/WPP.csv
LGW/WTG.csv
LGW/WpsHistoryDescription_V_310.pdf
LGW/tblAlarm.csv
LGW/tblCSTurTemp.csv
LGW/tblDailySummary.csv
LGW/tblGrid.csv
LGW/tblSCTurPress.csv
LGW/tblSCTurbine.csv
LGW/tblStation.csv
TurbineModels.csv

In [23]:
folder = 'LGW/'
filename = 'WTG.csv'

obj = conn.get_object(Bucket=bucket_name, Key=folder + filename)
raw = io.BytesIO(obj['Body'].read())
df = pd.read_csv(raw)

df.head()

,WTG_ID,SCADA_WTG_Name,OEM_Serial_Number,Ekho_Sector_ID,Pad,WPP_ID,Feeder_Number,OEM_ID,WTG_Model_ID,Latitude,...,Default_Ref_Curve_ID,WTG_Comparison1_ID,WTG_Comparison2_ID,MainSaver_Asset_No,Controller_Type,Software_Version,Uprated,Envision_WTG_Name,Transformer_Number,SubstationID
0,1,T028,28,4,1.0,1,5,2,4,26.910659,...,11,NaN,NaN,KENT-028,NaN,NaN,0.0,PGW_028,2.0,2.0
1,2,T029,29,5,2.0,1,5,2,4,26.911806,...,11,NaN,NaN,KENT-029,NaN,NaN,0.0,PGW_029,2.0,2.0
2,3,T030,30,6,3.0,1,5,2,4,26.913373,...,11,NaN,NaN,KENT-030,NaN,NaN,0.0,PGW_030,2.0,2.0
3,4,T031,31,7,4.0,1,5,2,4,26.915112,...,11,NaN,NaN,KENT-031,NaN,NaN,0.0,PGW_031,2.0,2.0
4,5,T032,32,8,5.0,1,5,2,4,26.916973,...,11,NaN,NaN,KENT-032,NaN,NaN,0.0,PGW_032,2.0,2.0

In [30]:
df2 = df[df.WPP_ID == 14] #code for Logan's Gap
df2 = df2[['OEM_Serial_Number',
           'Envision_WTG_Name',
           'Latitude',
           'Longitude',
           'Elevation', #values missing
           'UTM_Easting',
           'UTM_Northing']]
df2

,OEM_Serial_Number,Envision_WTG_Name,Latitude,Longitude,Elevation,UTM_Easting,UTM_Northing
1022,2308959,LGW_A001,31.868984,-98.633884,NaN,534631.471591,3.525972e+06
1023,2308960,LGW_A002,31.871617,-98.648880,NaN,533211.045512,3.526259e+06
1024,2308961,LGW_T001,31.895451,-98.757158,NaN,522963.778948,3.528873e+06
1025,2308962,LGW_T002,31.897641,-98.753614,NaN,523297.871223,3.529116e+06
1026,2308963,LGW_T003,31.893238,-98.749014,NaN,523734.490486,3.528630e+06
1027,2308964,LGW_T004,31.892869,-98.745081,NaN,524106.341571,3.528589e+06
1028,2308965,LGW_T005,31.892447,-98.740423,NaN,524546.692693,3.528544e+06
1029,2308966,LGW_T006,31.875550,-98.777493,NaN,521045.305176,3.526663e+06
1030,2308967,LGW_T007,31.874803,-98.773732,NaN,521400.961386,3.526581e+06
1031,2308968,LGW_T008,31.874203,-98.769974,NaN,521756.576911,3.526515e+06
1032,2308969,LGW_T009,31.873754,-98.762322,NaN,522480.256989,3.526467e+06
1033,2308970,LGW_T010,31.874481,-98.758609,NaN,522831.317023,3.526563e+06
1034,2308971,LGW_T011,31.876795,-98.755027,NaN,523169.695462,3.526805e+06
1035,2308972,LGW_T012,31.876078,-98.751226,NaN,523529.549473,3.526727e+06
1036,2308973,LGW_T013,31.873223,-98.747599,NaN,523873.150049,3.526411e+06
1037,2308974,LGW_T014,31.872548,-98.743534,NaN,524258.236957,3.526337e+06
1038,2308975,LGW_T015,31.878893,-98.736101,NaN,524959.093421,3.527043e+06
1039,2308976,LGW_T016,31.881269,-98.729186,NaN,525612.559646,3.527308e+06
1040,2308977,LGW_T017,31.866575,-98.731751,NaN,525373.884636,3.525678e+06
1041,2308978,LGW_T018,31.866533,-98.728276,NaN,525702.869978,3.525674e+06
1042,2308979,LGW_T019,31.864520,-98.725594,NaN,525956.041844,3.525452e+06
1043,2308980,LGW_T020,31.864486,-98.722048,NaN,526292.192985,3.525449e+06
1044,2308981,LGW_T021,31.860092,-98.716526,NaN,526815.932359,3.524963e+06
1045,2308982,LGW_T022,31.861637,-98.713595,NaN,527092.964174,3.525135e+06
1046,2308983,LGW_T023,31.862920,-98.710555,NaN,527380.054958,3.525278e+06
1047,2308984,LGW_T024,31.863696,-98.707325,NaN,527684.902885,3.525365e+06
1048,2308985,LGW_T032,31.872113,-98.645739,NaN,533508.138428,3.526315e+06
1049,2308986,LGW_T033,31.870887,-98.642900,NaN,533777.103119,3.526180e+06
1050,2308987,LGW_T034,31.869824,-98.639945,NaN,534057.054900,3.526063e+06
1051,2308988,LGW_T035,31.869501,-98.636795,NaN,534355.130281,3.526028e+06
...,...,...,...,...,...,...,...
1079,2309016,LGW_T071,31.785581,-98.666348,NaN,531588.534546,3.516731e+06
1080,2309017,LGW_T072,31.788098,-98.656352,NaN,532533.137671,3.516999e+06
1081,2309018,LGW_T073,31.787970,-98.653192,NaN,532842.293931,3.516995e+06
1082,2309019,LGW_T074,31.788198,-98.649404,NaN,533191.823033,3.517012e+06
1083,2309020,LGW_T075,31.777110,-98.671792,NaN,531075.959350,3.515777e+06
1084,2309021,LGW_T076,31.776940,-98.667471,NaN,531484.995307,3.515760e+06
1085,2309022,LGW_T077,31.779172,-98.664498,NaN,531765.656672,3.516008e+06
1086,2309023,LGW_T078,31.777847,-98.660912,NaN,532105.907282,3.515862e+06
1087,2309024,LGW_T079,31.779332,-98.656546,NaN,532518.846705,3.516028e+06
1088,2309025,LGW_T080,31.762137,-98.672752,NaN,530989.680286,3.514117e+06
1089,2309026,LGW_T081,31.764030,-98.668919,NaN,531352.687117,3.514328e+06
1090,2309027,LGW_T082,31.756992,-98.675914,NaN,530693.074798,3.513547e+06
1091,2309028,LGW_T083,31.756262,-98.670411,NaN,531213.248871,3.513466e+06
1092,2309029,LGW_T084,31.749948,-98.682392,NaN,530081.086998,3.512764e+06
1093,2309030,LGW_T085,31.746364,-98.679996,NaN,530309.035846,3.512367e+06
1094,2309031,LGW_T086,31.745676,-98.676770,NaN,530614.985349,3.512292e+06
1095,2309032,LGW_T087,31.747592,-98.673538,NaN,530920.075332,3.512505e+06
1096,2309033,LGW_T088,31.746872,-98.670443,NaN,531213.925357,3.512425e+06
1097,2309034,LGW_T089,31.745590,-98.667401,NaN,531501.921742,3.512285e+06
1098,2309035,LGW_T090,31.742854,-98.664647,NaN,531763.053306,3.511984e+06
1099,2309036,LGW_T091,31.741258,-98.661550,NaN,532048.065750,3.511797e+06
1100,2309037,LGW_T092,31.741985,-98.658601,NaN,532336.936652,3.511888e+06
1101,2309038,LGW_T093,31.742761,-98.655011,NaN,532677.124181,3.511975e+06
1102,2309039,LGW_T094,31.745415,-98.651744,NaN,532985.081162,3.512270e+06
1103,2309040,LGW_T095,31.739333,-98.675840,NaN,530704.956852,3.511589e+06
1104,2309041,LGW_T096,31.738191,-98.672294,NaN,531042.127567,3.511463e+06
1105,2309042,LGW_T097,31.735976,-98.669209,NaN,531334.145647,3.511219e+06
1106,2309043,LGW_T098,31.732701,-98.679112,NaN,530397.164640,3.510853e+06
1107,2309044,LGW_T099,31.730465,-98.676392,NaN,530656.036869,3.510606e+06
1108,2309045,LGW_T100,31.727572,-98.673592,NaN,530921.984653,3.510286e+06

In [10]:
import pymysql

host = "cms-lgw.c1odobldq4uq.us-west-2.rds.amazonaws.com"
user = "admin" 
password = "OpsR3porting!"
db_name = "msys"


connection = pymysql.connect(host=host,
                         user=user,
                         password=password,
                         cursorclass=pymysql.cursors.DictCursor)

['WTG_ID',
 'SCADA_WTG_Name',
 'OEM_Serial_Number',
 'Ekho_Sector_ID',
 'Pad',
 'WPP_ID',
 'Feeder_Number',
 'OEM_ID',
 'WTG_Model_ID',
 'Latitude',
 'Longitude',
 'UTM_Easting',
 'UTM_Northing',
 'UTM_Zone',
 'Elevation',
 'Hub_Height',
 'Capacity_MW',
 'COD_Date',
 'SharePoint_WTG_Name',
 'Ekho_WTG_Name',
 'WTG_Neighbor1_ID',
 'WTG_Neighbor2_ID',
 'Default_Ref_Curve_ID',
 'WTG_Comparison1_ID',
 'WTG_Comparison2_ID',
 'MainSaver_Asset_No',
 'Controller_Type',
 'Software_Version',
 'Uprated',
 'Envision_WTG_Name',
 'Transformer_Number',
 'SubstationID']